<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="AppiumTestNG"
       verbose="1"
       parallel="tests"
       thread-count="2"
       configfailurepolicy="continue">
    <!-- Tutorial module -->
    <test name="Tutorial"
          annotations="JDK"
          preserve-order="true">
        <classes>
            <class name="com.testng.tutorial.TestNGBasics">
                <methods>
                    <include name="Demo" />
                </methods>
            </class>
            <class name="com.testng.tutorial.TestNGAdvanced" />
        </classes>
    </test>
    <!-- Priority module -->
    <test name="Priority"
        annotations="JDK"
        preserve-order="true">
        <classes>
            <class name="com.testng.tutorial.TestNgPriority" />
            <class name="com.testng.tutorial.TestNgPriority2">
                <methods>
                    <exclude name="Api.*" />
                </methods>
            </class>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->